<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sonar Imaging</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}

    <h1> Processed Range Profile </h1>
    
    <form>
    	<button type="button" onclick="setTimeout(loadDoc, 0);clearInterval(cont)"> Refresh (single shot) </button>
    	<button type="button" onclick="cont = setInterval(loadDoc, 1000)">Refresh (continuous)</button>
		<button type="button" onclick="clearInterval(cont)">Stop</button>
	<form>
      
    <div id=demo>
    	<img id=temp src="/plot.png" alt="my plot">
    </div>
    

	<script>
	function loadDoc() {
		
  		var xhttp = new XMLHttpRequest();
  		xhttp.onreadystatechange = function() {
    	if (this.readyState == 4 && this.status == 200) {
    		document.getElementById("temp").src = "plot.png";
      		//document.getElementById("demo").innerHTML = this.responseText
    	}
  		};
		xhttp.open("GET", "plot.png", true);
  		xhttp.send();
  		
  		
	}

	</script>
    

    {% endblock %}
  </body>
</html>
