<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sonar Imaging</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}


    
    			
    
    <div class="container mt-4">
  		<div class="row">
    		<div class="col-8">
    			<div class="row">
    				<div class="col-12">
    					<h3> Processed Sonar Image </h3>
    				</div>
    				
    			</div>
    			<div class="row">
    				<div class="col-12">
    					
    					<!-- placeholder image--!>
    					<img id=mainplot class="figure-img img-fluid rounded" src="https://dummyimage.com/670x486.662/054846/fff.png&text=[press+run+to+generate+image]" alt=" [could not load image]" >	
    					
    					<!-- <img id=mainplot class="figure-img img-fluid rounded" src="/plot.png" alt="my plot" width="1000" height="1000"> --!>
      				</div>
      			</div>
      			<div class="row">
    				<div class="col-11">
      					<!-- Button trigger modal -->
						<button type="button" class="btn btn-default float-right btn-sm" aria-label="Left Align" data-toggle="modal" data-target="#staticBackdrop">
  							<ion-icon name="expand"></ion-icon>
						</button>
					</div>
      			</div>
      			
      			
    		</div>
    		<div class="col-4">
    			<h3> Control Panel </h3>
    			<div class="container mt-4">
    				<div class="row">
    					<h5> System Status</h5>
					</div>
					<div class="row">
						<div class="col-6">
							Current State
						</div>
						<div class="col-6">
							<span id="label_current_state" class="badge badge-secondary badge-pill">Idle</span>
						</div>
					</div>
					<div class="row">
						<div class="col-6">
							Internet
						</div>
						<div class="col-6">
							<span id="label_internet_connection" class="badge badge-success badge-pill"> Connected </span>
						</div>
					</div>
					<div class="row">
    					<div class="col-6">
							Microcontroller
						</div>
						<div class="col-6">
							<span id="label_micro_connection" class="badge badge-danger badge-pill">Not Connected</span>
						</div>
					</div>
					<div class="row">
    					<div class="col-6">
							Battery Level
						</div>
						<div class="col-6">
							<span class="badge badge-danger badge-pill">Not Connected</span>
						</div>
					</div>
					<div class="row">
    					<div class="col-6">
							Sampling Rate
						</div>
						<div class="col-6">
							<span id="label_sample_rate" class="badge badge-info badge-pill">N/A</span>
						</div>
					</div>
					<div class="row">
    					<div class="col-6">
							Refresh Rate
						</div>
						<div class="col-6">
							<span id="label_refresh_rate" class="badge badge-secondary badge-pill">N/A</span>
						</div>
					</div>
				</div>
				<div class="container">
					<div class="row mt-3">
    					<h5> Controls </h5>
					</div>
					<div class="row">
						<div class="col-6">
							<button id="btn_run" type="button" class="btn btn-outline-info btn-block"> Run </button>
						</div>
						<div class="col-6">
							<button id="btn_stop" type="button" class="btn btn-outline-danger btn-block"> Stop </button>
						</div>
					</div>
				</div>
				<div class="container">
					<div class="row mt-3">
    					<h5> Configuration </h5>
					</div>
					<div class="row">
						<div class="col-6">
							Imaging Mode
						</div>
						<div class="col-6">
      						<div class="btn-group btn-group-toggle" data-toggle="buttons">
  								<label class="btn btn-info active btn-sm">
   									 <input type="radio" name="radio_imaging_mode" id="option1" checked> Single
  								</label>
  								<label class="btn btn-info btn-sm">
    								<input type="radio" name="radio_imaging_mode" id="option2"> Continuous
  								</label>
  							</div>
						</div>
					</div>
					
					<div class="row mt-1">
      					<div class="col-6">
							Display Mode
						</div>
						<div class="col-6">
      						<div class="btn-group btn-group-toggle" data-toggle="buttons">
  								<label class="btn btn-info active btn-sm">
   									 <input type="radio" name="radio_display_mode" id="option1" checked> 1D
  								</label>
  								<label class="btn btn-info btn-sm">
    								<input type="radio" name="radio_display_mode" id="option2"> 2D
  								</label>
  							</div>
						</div>
					</div>
					<div class="row mt-1">
						<div class="col-6">
							Simulation Mode
						</div>
						<div class="col-6">
      						<div class="form-check">
  								<input id="chk_sim_mode" class="form-check-input" type="checkbox" value="" id="defaultCheck3">
							</div>
						</div>
					</div>
					<div class="row mt-1">
						<div class="col-6">
							Range Comp.
						</div>
						<div class="col-6">
      						<div class="form-check">
  								<input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
							</div>
						</div>
					</div>
					<div class="row mt-1">
						<div class="col-6">
							Debug Mode
						</div>
						<div class="col-6">
      						<div class="form-check">
  								<input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
  							</div>
						</div>
					</div>
				</div>

    		</div>

  		</div>
	</div>
    



<!-- Modal (popup with fullscreen plot)-->
<div class="modal fade" id="staticBackdrop"  tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">
      	<div class="row">
      		<div class="col-12">
        		<button type="button" class="close float-right btn-modal" data-dismiss="modal" aria-label="Close">
          			<span aria-hidden="true">&times;</span>
        		</button>
        	</div>
        </div>
     
      <div class="modal-body">
        <img id=mainplot_zoom class="figure-img img-fluid rounded mx-auto d-block" src="https://dummyimage.com/670x486.662/054846/fff.png&text=[press+run+to+generate+image]" alt="my plot" width="1000" height="1000">
      </div>
      
    </div>
  </div>
</div>
    
      
    
    

    {% endblock %}
  </body>
</html>
