<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Bootstrap CSS 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    -->
    
    <!-- Custom fonts required by SB-Admin templete -->
    <link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

	<!-- Custom styles for required by SB-Admin templete-->
    <link href="{{ url_for('static', filename='css/sb-admin-2.css') }} " rel="stylesheet">
  
    <!--Bootstrap toggle component-->
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/template.css') }}?v=58">
    
    
    
    <title>Flask Parent Template</title>
    
  </head>
  <body>
  <!--
    <header>
      <div class="container">
        <h1 class="logo">Sonar Imaging</h1>
        <strong><nav>
          <ul class="menu">
            <li><a href="{{ url_for('home') }}">Home</a></li>
          </ul>
        </nav></strong>
      </div>
    </header>
    --!>
    
    <!-- Image and text -->
	<nav class="navbar navbar-dark bg-dark">
  		<a class="navbar-brand" href="#">
   		 	<img src="https://cdn1.iconfinder.com/data/icons/the-port-flat-lighthouse-and-young-sailor/512/radar-512.png" width="30" height="30" class="d-inline-block align-top" alt="">
    		Sonar Imaging Dashboard
  		</a>
	</nav>

    {% block content %}
    {% endblock %}
    


	
  <!-- Bootstrap core JavaScript-->
  <script src="../static/vendor/jquery/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


  <!-- JavaScript for Ionic-->
  <script type="module" src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule="" src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons/ionicons.js"></script>
	
  <!-- Core plugin JavaScript-->
  <script src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts templete-->
  <script src="../static/js/sb-admin-2.js"></script>
  
  <!--Bootstrap toggle component-->
  <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
  
  
  <!-- Custom JavaScript-->
  <script type="text/javascript" src="../static/js/main.js?v=148"></script>

  </body>
</html>
