body {

}

.logo {
  background-color: #0D122B;
  padding: 10px;
  color: white;
}

.text-s{
	font-size: 1rem;
}

.text-xs{
	font-size: 0.8rem;
}

.text-center{
	text-align:center;
	width:100%;
}

.full-width{
	width: 100%;
}

.toggle-handle{
	background-color: white;
}

.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active,
.show > .btn-secondary.dropdown-toggle {
	background-color: inherit;
}

.btn-info:not(:disabled):not(.disabled):active, .btn-info:not(:disabled):not(.disabled).active, 
.show > .btn-info.dropdown-toggle {
	background-color: inherit;
}

.btn-success:not(:disabled):not(.disabled):active, .btn-success:not(:disabled):not(.disabled).active, 
.show > .btn-success.dropdown-toggle {
	background-color: inherit;
}

.center-h{
	display: block;
	margin: 0 auto;
}


//override bootstrap modal for full screen
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.modal-dialog {
  position: fixed;
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 0;
}

.modal-content {
  position: absolute;
  top: 10px;
  right: 20px;
  bottom: 10px;
  left: 85px;
}


.modal-body {
  position: absolute;
  top: 5px;
  left: 0px;
  bottom: 5px;
  width: 100%;
  font-weight: 300;
  overflow: auto;
}




